nav {
  top: 0; }

#navbar {
  overflow: hidden;
  background-color: #333;
  width: 200px;
  position: absolute; }
  #navbar li {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    text-decoration: none;
    color: #fff; }
  #navbar ul {
    list-style-type: none; }
