section {
  height: 100vh;
  width: 100%;
  p {
    margin: 0;
  }
}

.section1 {
  background-color:#e0fff7;
}

.section2 {
  background-color:#e0e0e0;
}

.section3 {
  background-color:#ffe8e0;
}

.section4 {
  background-color:#D3FFB9;
}

.section5 {
  background-color:#33373e;
}

// background="#e0fff7" 
